{% extends 'base.html' %}


{% block content %}
    <!-- العنوان والزر لإنشاء حلقة جديدة -->

    
    <div class="main-footer">
        <h1 style="text-align: center;">الحفظ اليومي</h1>
        <br>
        <a href="{% url 'create_daily_saving' %}" class="btn btn-primary">إضافة حفظ جديد</a>
    </div>

    <!-- عرض قائمة الحلقات -->
    <div class="main-footer">
        <table style="color:black;text-align: center;" class="table">
            <thead>
                <tr>
                    <th scope="col">اسم الطالب</th>
                    <th scope="col">السورة</th>
                    <th scope="col">آية البداية</th>
                    <th scope="col">آية النهاية</th>
                    <th scope="col">تاريخ الحفظ</th>
                    <th scope="col">إجراءات</th>
                </tr>
            </thead>
            <tbody>
                {% for ds in daily_saving %}
                <tr>
                    <td>{{ ds.student }}</td>
                    <td>{{ ds.name }}</td>
                    <td>{{ ds.ayat_number }}</td>
                    <td>{{ ds.ayat_number2 }}</td>
                    <td>{{ ds.created_at|date:"Y/m/d" }}</td>
                    <td>
                        {% comment %} <a href="{% url 'circle_detail' circle.id %}" class="btn btn-info btn-dark btn-sm">تفاصيل</a> {% endcomment %}
                         <a href="{% url 'daily_saving_update' ds.id %}" class="btn btn-info btn-sm">تعديل</a>
                        <a href="{% url 'daily_saving_delete' ds.id %}" class="btn btn-danger btn-sm">حذف</a>
                    </td>
                </tr> 
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- تضمين Bootstrap 5 JavaScript ومكتبات السيطرة على النماذج وما إلى ذلك -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-2SKs35zZ3l5O3Lkc5U5m48U7M0/6Ht02EoBrCtwpqyIq13FquF2F5BKt5v5Z5hFJ" crossorigin="anonymous"></script>
    <!-- تضمين مكتبة jQuery (إذا لزم الأمر) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+uMPhJ8SnGExs3Wp3Rt5jc5xjPmG7wqzj5EJ7KC8b5ZYjN/t" crossorigin="anonymous"></script>


{% endblock content %}
    
